/* purgecss start ignore */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6a737d;
}

.token.function {
  color: #6f42c1;
}

.token.boolean,
.token.number {
  color: #005cc5;
}

.token.property {
  color: #8a8a0f;
}

.token.tag {
  color: #257fad;
}

.token.string,
.token.regex,
.token.statement,
.token.atrule {
  color: #032f62;
}

.token.selector {
  color: #6b6bb8;
}

.token.attr-name {
  color: #935c25;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #005cc5;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #d73a49;
}

.token.placeholder,
.token.variable {
  color: #e36209;
}

.token.deleted {
  color: #b31d28;
  background-color: #ffeef0;
}

.token.inserted {
  color: #22863a;
  background-color: #f0fff4;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #d22d72;
}
/* purgecss end ignore */