@tailwind base;

h1, .h1 {
  @apply mb-6 text-4xl;
}

h2, .h2 {
  @apply mb-2 text-2xl;
}

h3, .h3 {
  @apply mb-2 text-xl;
}

p {
  @apply mb-4;
}

button:focus, summary:focus {
  outline: 0;
}

@tailwind components;

.card {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.18);
}

@screen xl {
  .container {
    max-width: theme('screens.lg')
  }
}

@tailwind utilities;

:root {
  --light-color-pen: black;
  --light-color-pen-lighter: theme('colors.gray.700');
  --light-color-pen-light: theme('colors.gray.500');
  --light-color-accent: theme('colors.blue.700');
  --light-color-accent-700: theme('colors.blue.800');
  --light-color-accent-200: theme('colors.blue.500');
  --light-color-paper: white;
  --light-color-paper-darker: theme('colors.gray.200');
  --light-color-paper-dark: theme('colors.gray.300');

  --dark-color-pen: #ecf0f1;
  --dark-color-pen-lighter: #bdc3c7;
  --dark-color-pen-light: #9ea4a9;
  --dark-color-accent: #3498db;
  --dark-color-accent-700: #29b0ff;
  --dark-color-accent-200: #2980b9;
  --dark-color-paper: #181818;
  --dark-color-paper-darker: #303336;
  --dark-color-paper-dark: #505356;

  --color-pen: var(--light-color-pen);
  --color-pen-lighter: var(--light-color-pen-lighter);
  --color-pen-light: var(--light-color-pen-light);
  --color-accent: var(--light-color-accent);
  --color-accent-700: var(--light-color-accent-700);
  --color-accent-200: var(--light-color-accent-200);
  --color-paper: var(--light-color-paper);
  --color-paper-darker: var(--light-color-paper-darker);
  --color-paper-dark: var(--light-color-paper-dark);
}

body {
  background-color: var(--color-paper);
  color: var(--color-pen);
}

.header-image {
  filter: brightness(0.85);
  max-height: 50vh;
}

[data-mounted] {
  body, nav, .transition-linear-150 {
    transition: background-color 150ms linear, color 150ms linear;
  }
}

.shadow-md-dark {
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.15), 0 1px 4px 1px rgba(0, 0, 0, 0.09);
}

[data-theme="dark"] {
  --color-pen: var(--dark-color-pen);
  --color-pen-lighter: var(--dark-color-pen-lighter);
  --color-pen-light: var(--dark-color-pen-light);
  --color-accent: var(--dark-color-accent);
  --color-accent-700: var(--dark-color-accent-700);
  --color-accent-200: var(--dark-color-accent-200);
  --color-paper: var(--dark-color-paper);
  --color-paper-darker: var(--dark-color-paper-darker);
  --color-paper-dark: var(--dark-color-paper-dark);

  nav {
    background-color: var(--color-paper);
  }

  .header-image {
    filter: brightness(0.75) grayscale(0.1);
  }

  .card {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.35);
  }

  .shadow-md-dark {
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.35), 0 1px 4px 1px rgba(0, 0, 0, 0.18);
  }
}

@responsive {
  .flex-basis-1\/2 {
    flex-basis: 50%;
  }

  .flex-basis-2\/3 {
    flex-basis: 66.67%;
  }

  .flex-basis-1\/3 {
    flex-basis: 33.33%;
  }
}

.parskip-0 p {
  margin-bottom: 0;
}

[data-markdown] {
  @apply max-w-4xl;

  h1, h2, h3 {
    @apply mt-6;
  }

  h2, h3 {
    @apply font-semibold;
  }

  a {
    @apply text-accent;
  }

  a:hover {
    @apply text-accent-700 underline;
  }

  .anchor {
    @apply text-pen-light;
  }

  .anchor svg {
    @apply stroke-current;
  }

  ol, ul {
    @apply pl-8 mb-4;
    ol, ul, pre, p {
      margin-bottom: 0;
    }
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  ol > li {
    @apply pl-1;
  }

  .table-of-contents {
    ul {
      @apply list-none pl-4;
    }
  }

  pre {
    @apply p-3 mb-4 bg-paper-darker overflow-x-auto;
    line-height: 1.25
  }

  code {
    font-size: 0.875em;
  }
}
